<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mateuszskolimowski.inzynierka">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activities.routes_list.RoutesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.routes_list.AddOrUpdateNewRouteActivity" />
        <activity android:name=".activities.add_route_points.AddRoutePointsActivity" />
        <activity android:name=".activities.add_route_points.AddNewRoutePointActivity" />
        <activity android:name=".activities.navigation.NavigateActivity" />
        <activity android:name=".activities.show_on_map.ShowRoutePointsOnMapActivity"></activity>
    </application>

</manifest>